.menu__link {
  color: #fff;

  text-decoration: none;

  font-size: 22px;
  line-height: 227%;

  letter-spacing: 2px;

  cursor: pointer;
}

.menu__link:hover {
  color: #9d8665;
}

.menu__link:active {
  color: #9d8665;
}
