.video__btn-play {
  position: absolute;

  width: 220px;
  height: 220px;

  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);

  background-color: transparent;
  background-image: url(../../../images/play.svg);

  border: none;

  cursor: pointer;
}