.tickets__subtitle {
  margin: 0;
  font-family: 'Roboto', 'arial', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 1.65px;
  color: #fff;
}
