.tickets__text-small {
  margin: 0;
  margin-top: 11px;
  font-family: 'Roboto', 'arial', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
  color: #fff;
}
